| Vad som testas | Hur det testas | Testresultat |
| -------- | -------- | -------- |
| TC1.1.1 | Manuellt test via användargränssnitt | ✓ |
| TC1.2.1 | Manuellt test via användargränssnitt | ✓ |
| TC1.3.1 | Manuellt test via användargränssnitt | ✓ |
| TC1.3.2 | Manuellt test via användargränssnitt | ✓ |
| TC1.4.1 | Manuellt test via användargränssnitt | ✓ |
| TC1.4.2 | Manuellt test via användargränssnitt | ✓ |
| TC1.4.3 | Manuellt test via användargränssnitt | ✓ |
| TC1.5.1 | Manuellt test via användargränssnitt | ✓ |
| TC1.5.2 | Manuellt test via användargränssnitt | ✓ |
| TC1.6.1 | Manuellt test via användargränssnitt | ✓ |
| TC1.6.2 | Manuellt test via användargränssnitt | ✓ |
| TC1.7.1 | Manuellt test via användargränssnitt | ✓ |
| TC1.8.1 | Manuellt test via användargränssnitt | ✓ |
| TC2.1.1 | Manuellt test via användargränssnitt | ✓ |
| TC2.2.1 | Manuellt test via användargränssnitt | ✓ |
